@model IEnumerable<MVC4.MyOrganizer.Models.Category>

   <div id="actualNav" class="span3 bs-docs-sidebar" style=" margin-bottom:100px;">
        <ul class="nav nav-list bs-docs-sidenav affix">
            <li class="active"><a href="/Todo/Index/">All Categories</a></li>  
            @foreach (var item in Model) { 
                <li>
                    @Html.ActionLink(
                      @Html.DisplayFor(modelItem => item.Name).ToHtmlString(),
                      "Index",
                      "Todo",
                       new { category = @Html.DisplayFor(modelItem => item.Name), id = @Html.DisplayFor(modelItem => item.Id) },
                       htmlAttributes: new { id = "link" + @Html.DisplayFor(modelItem => item.Name) }
                    )
                </li>  
            }
        </ul>
    </div>