@model MVC4.MyOrganizer.Models.RegisterDTO
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    validateRegistrationForm = function () {


        event.preventDefault();
        return false;
    }

</script>

@using (Html.BeginForm()) {


    <fieldset>
        <legend>Registration Form</legend>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
                <div class="row">
                    <div class="span12">
                        @Html.LabelFor(m => m.UserName)
                    </div>
                    <div class="span12">
                        @Html.TextBoxFor(m => m.UserName)
                    </div>
                    <div class="span12">
                        @Html.LabelFor(m => m.Password)
                    </div>
                    <div class="span12">
                        @Html.PasswordFor(m => m.Password)
                    </div>
                    <div class="span12">
                        @Html.LabelFor(m => m.ConfirmPassword)
                    </div>
                    <div class="span12">
                        @Html.PasswordFor(m => m.ConfirmPassword)
                    </div>
                </div>
        <input type="submit" value="Register" onclick="validateRegistrationForm();" />
    </fieldset>
}
