@model MVC4.MyOrganizer.Models.NewTodo

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        applySideNavStyle('@ViewBag.category');
    });

    applySideNavStyle = function (selectedCategory) {
        
        if (isNUllOrEmpty(selectedCategory))
            return;

        $(".bs-docs-sidenav li").each(function () {
            $(this).removeClass("active");
        });

        $('#link' + selectedCategory).closest("li").addClass("active")

    }

    showCreateNew = function () {



        $('#myModal').modal({
            keyboard: false,
            show: true,
            backdrop: 'static'
        });

    }

    confirmDelete = function (todoItemText) {

        return confirm('Are you sure you want to delete:' + todoItemText + '?');
    }

</script>
<hr />
<div class="container">
    <div class="row-fluid">
        <div class=" text-center">    
            <p>
                <a class="btn btn-large btn-warning" href="javascript:void(0);" onclick="showCreateNew();">
                    <i class="icon-plus-sign pull-left"></i> Add Todo Item
                </a>
            </p>
        </div>
    </div>
</div>
<hr />

<div class="row-fluid">



    <div class="span4">
         @Html.Partial("_SideNavPartial", Model.Categories)
    </div>
    <div class="span8">

        <table class="table table-hover">

        @foreach (var item in Model.TodoItems)
        {
            <tr>
                <td>
                    <div>
                        <small>TodoItem:</small> <strong>@Html.DisplayFor(modelItem => item.Title)</strong> 
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <small>Completed:</small> <strong>@Html.Encode(item.Completed)</strong>
                        </div>
                        <div class="span6">
                            <div class=" pull-right">
                                @if (!item.Completed) { 
                                    @Html.ActionLink("Edit", "Edit", new { id= item.Id }) 
                                    <span>|</span>
                                }
                                
                                @Html.ActionLink(
                                    "Delete",
                                    "Delete",
                                    new { id = item.Id },
                                    htmlAttributes: new { onclick = "return confirm('Are you sure you want to delete:" + item.Title + "?')" })
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }

        </table>
    </div>
</div>


@Html.Partial("_NewTodoPartialView", Model.TodoDTO)
